<div class="row">

<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4">
	<div class="cards_box thumbnail">
		<a href="#">
			<img src="assets/img/theme-1.jpg" alt="">
			<dl>
				<dt>Wordpress theme</dt>
				<dd>Symphony is a responsive one page website template designed with sketches and coded with html5 and php. Freebie released by Lacoste Xavier.</dd>
			</dl>
		</a>
		<div class="wrapper-part-info">
			<div class="part-info-icon"><i class="devicon-bootstrap-plain colored"></i></div>
			<div class="part-info">Bootstrap theme</div>
		</div>
	</div>
</div>

<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4">
	<div class="cards_box thumbnail">
		<a href="#">
			<img src="assets/img/theme-2.jpg" alt="">
			<dl>
				<dt>Wordpress theme</dt>
				<dd>Symphony is a responsive one page website template designed with sketches and coded with html5 and php. Freebie released by Lacoste Xavier.</dd>
			</dl>
		</a>
		<div class="wrapper-part-info">
			<div class="part-info-icon"><i class="devicon-github-plain colored"></i></div>
			<div class="part-info">Github console comand</div>
		</div>
	</div>
</div>


<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4">
	<div class="cards_box thumbnail">
		<a href="#">
			<img src="assets/img/theme-3.jpg" alt="">
			<dl>
				<dt>Wordpress theme</dt>
				<dd>Symphony is a responsive one page website template designed with sketches and coded with html5 and php. Freebie released by Lacoste Xavier.</dd>
			</dl>
		</a>
		<div class="wrapper-part-info">
			<div class="part-info-icon"><i class="devicon-css3-plain colored"></i></div>
			<div class="part-info">Css 3 theme</div>
		</div>
	</div>
</div>


<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4">
	<div class="cards_box thumbnail">
		<a href="#">
			<img src="assets/img/theme-4.jpg" alt="">
			<dl>
				<dt>Wordpress theme</dt>
				<dd>Symphony is a responsive one page website template designed with sketches and coded with html5 and php. Freebie released by Lacoste Xavier.</dd>
			</dl>
		</a>
		<div class="wrapper-part-info">
			<div class="part-info-icon"><i class="devicon-git-plain colored"></i></div>
			<div class="part-info">Git for beginer</div>
		</div>
	</div>
</div>


<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4">
	<div class="cards_box thumbnail">
		<a href="#">
			<img src="assets/img/theme-1.jpg" alt="">
			<dl>
				<dt>Wordpress theme</dt>
				<dd>Symphony is a responsive one page website template designed with sketches and coded with html5 and php. Freebie released by Lacoste Xavier.</dd>
			</dl>
		</a>
		<div class="wrapper-part-info">
			<div class="part-info-icon"><i class="devicon-html5-plain colored"></i></div>
			<div class="part-info">Html 5 for beginer</div>
		</div>
	</div>
</div>


<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4">
	<div class="cards_box thumbnail">
		<a href="#">
			<img src="assets/img/theme-1.jpg" alt="">
			<dl>
				<dt>Wordpress theme</dt>
				<dd>Symphony is a responsive one page website template designed with sketches and coded with html5 and php. Freebie released by Lacoste Xavier.</dd>
			</dl>
		</a>
		<div class="wrapper-part-info">
			<div class="part-info-icon"><i class="devicon-bower-plain colored"></i></div>
			<div class="part-info">Bower for beginer</div>
		</div>
	</div>
</div>

<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4">
	<div class="cards_box thumbnail">
		<a href="#">
			<img src="assets/img/theme-1.jpg" alt="">
			<dl>
				<dt>Wordpress theme</dt>
				<dd>Symphony is a responsive one page website template designed with sketches and coded with html5 and php. Freebie released by Lacoste Xavier.</dd>
			</dl>
		</a>
		<div class="wrapper-part-info">
			<div class="part-info-icon"><i class="devicon-bootstrap-plain colored"></i></div>
			<div class="part-info">Bootstrap theme</div>
		</div>
	</div>
</div>

<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4">
	<div class="cards_box thumbnail">
		<a href="#">
			<img src="assets/img/theme-2.jpg" alt="">
			<dl>
				<dt>Wordpress theme</dt>
				<dd>Symphony is a responsive one page website template designed with sketches and coded with html5 and php. Freebie released by Lacoste Xavier.</dd>
			</dl>
		</a>
		<div class="wrapper-part-info">
			<div class="part-info-icon"><i class="devicon-github-plain colored"></i></div>
			<div class="part-info">Github console comand</div>
		</div>
	</div>
</div>


<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4">
	<div class="cards_box thumbnail">
		<a href="#">
			<img src="assets/img/theme-3.jpg" alt="">
			<dl>
				<dt>Wordpress theme</dt>
				<dd>Symphony is a responsive one page website template designed with sketches and coded with html5 and php. Freebie released by Lacoste Xavier.</dd>
			</dl>
		</a>
		<div class="wrapper-part-info">
			<div class="part-info-icon"><i class="devicon-css3-plain colored"></i></div>
			<div class="part-info">Css 3 theme</div>
		</div>
	</div>
</div>

</div>


